<!-- HTML Doctype선언문 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 인코딩 캐릭터셋 UTF-8지정 -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 부트스트랩 css 참조 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- jquery 참조 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 javascript 참조 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Google Font 참조 -->
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic+Coding&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Orbit&display=swap" rel="stylesheet">
    <!-- JS 모듈화 참조 -->
    <!-- Flask용 -->
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    <!-- Live Server 용 -->
    <script src="/static/js/script.js"></script>

    <!-- CSS 모듈화 참조 -->
    <!-- Flask용 -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- Live Server 용 -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>초미니홈피 - 팬명록</title>
</head>

<body>
    <!-- Container(Wrap) -->
    <div id="wrap">
        <!-- Header -->
        <div id="header" class="mypic">
            <h1>NEW JEANS 팬명록</h1>
            <p>현재기온: <span id="temp">36</span>도<span id="icon"></span></p>
            <div id="ranking">
                <p>날짜 : <span id="date"></span></p>
                <p><span id="artist">가수</span>의 "<span id="title">노래</span>" Spotify 오늘 순위 : <span id="rank">99</span>위</p>
                <p>순위 변동(전일대비) : <span id="rankdiff">+1</span>위</p>
            </div>
        </div>

        <!-- Content -->
        <div id="content">
            <!-- (Input Form) -->
            <div class="mypost">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="url" />
                    <label for="floatingInput">닉네임</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">응원댓글</label>
                </div>
                <button onclick="save_comment()" type="button" class="btn btn-dark">
                    댓글 남기기
                </button>
            </div><!-- End Input Form-->

            <!-- (Output List) -->
            <div class="mycards" id="comment-list">
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>새로운 앨범 너무 멋져요!</p>
                            <footer class="blockquote-footer">호빵맨</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>새로운 앨범 너무 멋져요!</p>
                            <footer class="blockquote-footer">호빵맨</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>새로운 앨범 너무 멋져요!</p>
                            <footer class="blockquote-footer">호빵맨</footer>
                        </blockquote>
                    </div>
                </div>
            </div><!-- End Output list-->
        </div><!-- End Content-->

        <!-- Footer -->
        <!-- <div id="footer">
            None
        </div> -->
    </div><!-- End Wrap-->
</body>

</html>